<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852295746788-amhbmfrb5u8pgbdspda59itmb86im20s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852295746788-amhbmfrb5u8pgbdspda59itmb86im20s</string>
	<key>API_KEY</key>
	<string>AIzaSyDxTIrQweMN6JsH4Av1NG-PujyyxdISi4M</string>
	<key>GCM_SENDER_ID</key>
	<string>852295746788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unix.Find</string>
	<key>PROJECT_ID</key>
	<string>Find-1391b</string>
	<key>STORAGE_BUCKET</key>
	<string>Find-1391b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852295746788:ios:2d575b3c59232b837798f1</string>
</dict>
</plist>